body {
    width: 90%;
    margin: auto;    
    font-family: 'Titillium Web', sans-serif;
    font-weight: bold;
}

.navigation {
    color: darkgray;
    position: sticky;
    top: 0;
    background-color: white;
}

.navItems {
    display: flex;
    justify-content: space-between;
    align-items: center;
    list-style: none;
    padding: 0;            
}

.logo {    
    display: none;
    margin: 5%;        
}

.logo img {
    margin: auto 0;
}

 
a, a:visited, a:hover, a:active {
    color: inherit;
    text-decoration: none;
}

.heading {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    margin: 15% auto;
    
}

.IOD {
    display: flex;
    flex-direction: column;
    text-align: center;
    align-items: center;
}

.iodImg {
    display: flex;
    width: 350px;
}

.section1{
    display: flex; 
    justify-content: space-between;   
    margin: 0;
}

.Features, .About, .Services, .Product, .Vision {
    margin-right: 15px;
    align-items: flex-start;
}


img {
    width: 100%;
    
}
.section2{
    display: flex;
    justify-content: space-between; 
    margin: 0;   
}

h1 {
    font-size: 4rem;
    margin: 10px;
}

button {
    width: 200px;
    padding: 5px;
    font-size: 1.1rem;
    font-family: inherit;
}

h1, h2, h3{
    font-family: 'Bangers', cursive;
}

footer {
    text-align: center;
}
.Facts {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-content: space-between;
    justify-content: space-between;
    padding: 0;
    margin: 0;
}

.bigFacts, .factsImg {
    width: 49%;      
}

.factsImg {
    display: flex;
    justify-content: flex-start;
    flex-direction: row-reverse;
}


.services-info-img {
    max-width: 500px;
    display: flex;
    
    
    
}

@media screen and (max-width: 800px) {
    
    .navItems {
        flex-wrap: wrap-reverse;
        
    }

    .navItems li:last-child {
        border: 1px solid red;
        display: none;
    }

    .logo {
        display: flex;
        justify-content: center;
    }

    .iodImg {
        display: none;
    }

    .Facts {
        flex-direction: column;
    }

    .bigFacts, .factsImg {
        width: 100%;
    }

    .factsImg {
        align-self: flex-end:
    }

}

@media screen and (max-width: 500px) {
    .navigation {
        position: relative;
        
    }
    
    .navItems {
        flex-direction: column;
        
        justify-content: center;
        align-content: flex-start;
    }

    .navItems li {
        display: flex;
        font-size: 1.5rem;
        border-bottom: 1px solid black;
        width: 100%;
        justify-content: center;
        margin: 0;
        padding: 10px;        
    }

    .navItems li:first-child {
        border-top: 1px solid black;
        
    }

    .section1, .section2 {
        display: flex;
        flex-direction: column;
    }

    .Facts {
        flex-direction: column;
    }

    .bigFacts, .factsImg {
        width: 100%;
    }

    .Facts {
        flex-direction: row;
    }
        
}