body {
    width: 90%;
    margin: auto;    
    font-family: 'Titillium Web', sans-serif;
}

.navigation {
    color: lightgray;
    position: sticky;
    top: 0;
    background-color: white;
}

.navItems {
    display: flex;
    justify-content: space-between;
    list-style: none;
    align-items: center;            
}
a, a:visited, a:hover, a:active {
    color: inherit;
    text-decoration: none;
}

.heading {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    
}

.IOD {
    display: flex;
    flex-direction: column;
    text-align: center;
    align-items: center;
}

.iodImg {
    display: flex;
    width: 350px;
}

.section1{
    display: flex; 
    justify-content: space-between;   
    margin: 0;
}

.Features, .About, .Services, .Product, .Vision {
    margin-right: 15px;
    align-items: flex-start;
}


img {
    width: 100%;
    
}
.section2{
    display: flex;
    justify-content: space-between; 
    margin: 0;   
}

h1 {
    font-size: 4rem;
    margin: 10px;
}

button {
    width: 60%;
    padding: 5px;
    font-size: 1.1rem;
    font-family: inherit;
}

h1, h2 {
    font-family: 'Bangers', cursive;
}

footer {
    text-align: center;
}

@media screen and (max-width: 800px) {
    .navItems {
        flex-direction: row-reverse;
    }
}